html, body {
  height: 100%;
  width: 100%;
}

.image-size-small {
  width: 140px;
  margin: 0 auto;
}

.image-size-small img {
  width: 140px;
  margin-bottom: -70px;
}

.navbar-nav .nav-link.active {
  color: blue !important;
  font-weight: bold;
}
.navbar-nav .nav-link .bi {
  margin-right: 0.5rem;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

#error-message {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

#success-message {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
